modules = ["nodejs-20"]
run = "cd discord-chat-backend && node server.js"
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "cd discord-chat-backend && node server.js"]
